.header {
  background-color: rgb(40, 169, 249);
  color: white;
  font-size: 24px;
}

.main {
  padding: 0 48px;
  display: flex;
  justify-content: space-between
}

.box {
  border-radius: 15px;
  border: solid 1px black;
  width: 50vw;
  height: 80vh;
  margin-top: 20px;
}

.addingForm {
  border-radius: 15px;
  border: solid 1px black;
  width: 40vw;
  height: 80vh;
  margin-top: 20px;
}

.title {
  border-bottom: solid 3px rgb(40, 169, 249);
}

.contentPost {
  margin: 20px;
}